<div class="dashboard-container overlay-2 padded-content-page candidates-dashboard " layout="column">
    <div layout="row" layout-xs="column" layout-margin>
        <tri-widget flex content-layout="column" content-layout-align="center">
            <search filter="vm.filter" title="Candidates" />    
            <md-table-container>
                <table md-table>
                    <thead md-head md-order="vm.query.order" md-on-reorder="vm.getData">
                        <tr md-row>
                            <th md-column md-order-by="Name"><span>Name</span></th>
                            <th md-column md-order-by="LastName"><span>Last Name</span></th>
                            <th md-column md-order-by="Position/Name">Account</th>
                            <th md-column md-order-by="Seniority/Name">Project</th>
                            <th md-column md-order-by="Office/Name">Location</th>
                            <th md-column md-order-by="HasExternal">Internal/External</th>
                            <th md-column md-order-by="ChangedDate">Disponibility date</th>
                            <th md-column>View</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr ng-repeat="candidate in vm.candidatesData.candidates">
                            <td md-cell>{{::candidate.name}}</td>
                            <td md-cell>{{::candidate.lastName}}</td>
                            <td md-cell>{{::candidate.positionName}}</td>
                            <td md-cell>{{::candidate.seniorityName}}</td>
                            <td md-cell>{{::candidate.officeName}}</td>
                            <td md-cell>{{::candidate.candidateName}}</td>
                            <td md-cell>{{::candidate.changedDate | amDateFormat:'MMMM Do YYYY'}}</td>
                            <td md-cell>
                                <md-button ng-click="vm.openCandidate(candidate, $event)" class="md-icon-button" aria-label="Open candidate">
                                    <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="vm.query.limit" md-limit-options="[10, 20, 30]" md-page="vm.query.page" md-total="{{vm.candidatesData.candidates.count}}"
                md-on-paginate="vm.getData" md-page-select></md-table-pagination>
        </tri-widget>
    </div>
    <candidate-crud/>
    
</div>
